doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  div(class='site-container')
      div(class='sidebar-container')
        block sidebar
          ul(class='sidebar-items')
            li
              a(href='/') Home
            li
              a(href='/inventory') All items
            li
              a(href='/inventory/categories') All categories
            li
              hr

      main(class='main-container')
        block content

